@import '../stylesheet/min.css';

*{color: #ccc;}

body {
  overflow: hidden;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal (background) */
.modal {
  display: true; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.header{
  align-items: center;  
  display: flex;
  justify-content: space-between; 
}
/* Modal Content/Box */
.modal-content {
  margin: 5px auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  background: #191c2e;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Full-width input fields */
  input[type=text]:not(#search), input[type=password], select, textarea, input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #36394a;
  color: #bbb;
}

input[type=text]:not(#search):focus, input[type=password]:focus, select:focus, textarea:focus, input[type=date]:focus {
  background: #4a4d61;
  outline: none;
}

textarea {
  resize: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .addbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}